<h1>Categories</h1>
<%= link_to 'Back to Articles', articles_path %>
<% if @categories.present? %>
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, category %>
        (<%= category.articles.count %> articles)
      </li>
      <li id = description><em><%= category.description%></em></li>
    <% end %>
  </ul>
<% else %>
  <p>No categories available.</p>
<% end %>

<%= link_to 'New Category', new_category_path, class: 'btn btn-success' %>