<h1><%= @author.name %></h1>
<p><%= @author.bio %></p>

<%= link_to 'Edit', edit_author_path(@author), class: 'btn btn-primary' %>
<%= link_to 'Delete', @author, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<%= link_to 'Back to Authors', authors_path %>